@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

:root {
  --site-clr: #11b392;
  --body-bg: #1E3255;
  --text-clr: #ffffff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
    font-family: "Inter", sans-serif;
    color: var(--text-clr);
    font-size: 1rem;
    font-weight: 400;
    position: relative;
    line-height: 1.7;
    background-color: var(--body-bg);
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    overflow-x: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 100vh;
}

img {
  max-width: 100%;
  height: auto;
  user-select: none;
}
select {
  cursor: pointer;
}

ul, ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

*:focus {
  outline: none;
}

button {
  border: none;
}

button:focus {
  outline: none;
}

span {
  display: inline-block;
}

a:hover {
  color: #11b392;
}

hr {
  background-color: #d7dfe7;
  opacity: 0.65;
}